<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>BSC</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>BootScreenCustomization.png</string>
      <key>label</key>
      <string>BootScreenCustomization</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.CC.BootScreenCustomization</string>
        <key>key</key>
        <string>enabled</string>
        <key>label</key>
        <string>Enable</string>
        <key>PostNotification</key>
        <string>com.CC.BootScreenCustomization/ReloadPrefs</string>
      </dict>
       <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>label</key>
      <string>Apple Color</string>
      </dict>
      <dict>  
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.CC.BootScreenCustomization</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>key</key>
            <string>color</string>
            <key>footerText</key>
            <string></string>
            <key>label</key>
            <string>Select</string>
            <key>PostNotification</key>
            <string>com.CC.BootScreenCustomization/ReloadPrefs</string>
            <key>validTitles</key>
            <array>
                  <string>White</string>
                  <string>Black</string>
                  <string>Blue</string>
                  <string>Green</string>
                  <string>Orange</string>
                  <string>Red</string>
                  <string>Pink</string>
                  <string>Purple</string>
                  <string>Teal</string>
                  <string>Yellow</string>
            </array>
            <key>validValues</key>
            <array>
                  <integer>1</integer>
                  <integer>2</integer>
                  <integer>3</integer>
                  <integer>4</integer>
                  <integer>5</integer>
                  <integer>6</integer>
                  <integer>7</integer>
                  <integer>8</integer>
                  <integer>9</integer>
                  <integer>10</integer>
            </array>
          </dict>
    <dict>
      <key>cell</key>
      <string>PSGroupCell</string>
      <key>label</key>
      <string>Background Color</string>
      </dict>
      <dict>  
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>defaults</key>
            <string>com.CC.BootScreenCustomization</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>key</key>
            <string>colorProfile</string>
            <key>footerText</key>
            <string></string>
            <key>label</key>
            <string>Select</string>
            <key>PostNotification</key>
            <string>com.CC.BootScreenCustomization/ReloadPrefs</string>
            <key>validTitles</key>
            <array>
                  <string>Black</string>
                  <string>White</string>
                  <string>Blue</string>
                  <string>Green</string>
                  <string>Orange</string>
                  <string>Red</string>
                  <string>Pink</string>
                  <string>Purple</string>
                  <string>Teal</string>
                  <string>Yellow</string>
            </array>
            <key>validValues</key>
            <array>
                  <integer>1</integer>
                  <integer>2</integer>
                  <integer>3</integer>
                  <integer>4</integer>
                  <integer>5</integer>
                  <integer>6</integer>
                  <integer>7</integer>
                  <integer>8</integer>
                  <integer>9</integer>
                  <integer>10</integer>
            </array>
          </dict>
          <dict>
             <key>cell</key>
             <string>PSGroupCell</string>
             </dict>
             <dict>
                <key>action</key>
                <string>killBB:</string>
                <key>cell</key>
                <string>PSButtonCell</string>
                <key>label</key>
                <string>Apply</string>
            </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Developer</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2016 Cole Cabral
(@ca13ra1)</string>
      </dict>
      <dict>
      <key>big</key>
      <true/>
      <key>cellClass</key>
            <string>HBTwitterCell</string>
            <key>height</key>
            <integer>60</integer>
            <key>label</key>
            <string>ca13ra1</string>
            <key>user</key>
    <string>ca13ra1</string>
  </dict>
    </array>
  </dict>
</plist>